@import url("https://fonts.cdnfonts.com/css/general-sans");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	scroll-behavior: smooth;
}

body {
	background: #010103;
	font-family: "General Sans", sans-serif;
}

/* Custom vertical scrollbar */
::-webkit-scrollbar {
	width: 8px;
}

::-webkit-scrollbar-track {
	background: #010103;
}

::-webkit-scrollbar-thumb {
	background: #333;
	border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
	background: #555;
}

@layer utilities {
	.c-space {
		@apply sm:px-10 px-5;
	}

	.head-text {
		@apply sm:text-4xl text-3xl font-semibold text-gray_gradient;
	}

	.text-gray_gradient {
		@apply bg-gradient-to-r from-[#BEC1CF] from-60% via-[#D5D8EA] via-60% to-[#D5D8EA] to-100% bg-clip-text text-transparent;
	}

	/* Hero section */
	.hero_tag {
		@apply text-center xl:text-6xl md:text-5xl sm:text-4xl text-3xl font-generalsans font-black !leading-normal;
	}

	/* Button ping animation */
	.btn-ping {
		@apply animate-ping absolute inline-flex h-full w-full rounded-full bg-green-400 opacity-75;
	}

	.btn-ping_dot {
		@apply relative inline-flex rounded-full h-3 w-3 bg-green-500;
	}

	/* Footer social icon */
	.social-icon {
		@apply w-10 h-10 rounded-full flex justify-center items-center bg-black-300 border border-white/10;
	}
}

.waving-hand {
	animation-name: wave-animation;
	animation-duration: 2.5s;
	animation-iteration-count: infinite;
	transform-origin: 70% 70%;
	display: inline-block;
}

@keyframes wave-animation {
	0% {
		transform: rotate(0deg);
	}
	15% {
		transform: rotate(14deg);
	}
	30% {
		transform: rotate(-8deg);
	}
	40% {
		transform: rotate(14deg);
	}
	50% {
		transform: rotate(-4deg);
	}
	60% {
		transform: rotate(10deg);
	}
	70% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(0deg);
	}
}
